.chatting-page-room {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatting-page-room__header {
  width: 100%;
  height: 100px;
  display: block;
}

/* ==================================================== */
.chatting-page-room__body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--white_v2);
  z-index: 10;
}

.chatting-page-room__time {
  position: relative;
  margin: 1rem 2rem;
}

.chatting-page-room__time-divider {
  height: 2px;
  width: 100%;
  background-color: rgb(209, 209, 209);
}

.chatting-page-room__time p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white_v2);
  padding: 1rem 2rem;
  color: var(--gray);
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.chatting-page-room__messages {
  display: flex;
  flex-direction: column;
  padding: 0 1.9rem;
}

/* ==================================================== */

.chatting-page-room__form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding-bottom: 0.5rem;
  z-index: 22;
}

.chatting-page-room__body ::-webkit-scrollbar {
  width: 15px;
}

.chatting-page-room__body ::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 15px;
  background-color: #aeaeae;
}

@media screen and (max-width: 1000px) {
  .chatting-page-room__header {
    height: 80px;
  }
}
