.chatting-page-chat-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.chatting-page-chat-info__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  height: 250px;
}

.chatting-page-chat-info__username {
  font-size: 1.8rem;
}

.chatting-page-chat-info__avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 8rem;
  object-fit: cover;
}

.chatting-page-chat-info__social-media {
  padding: 0 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.chatting-page-chat-info__btn-social-media {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
}

.chatting-page-chat-info__btn-social-media p {
  opacity: 0;
  position: absolute;
  padding: 0.4rem 1rem;
  background-color: var(--white_bg);
  bottom: -50%;
  left: 50%;
  border-radius: 0.5rem;
  transform: translate(-50%, 50%);
  transition: opacity 0.3s ease-in;
}

.chatting-page-chat-info__btn-social-media:hover {
  background-color: var(--white);
  outline: 1px solid var(--white_bg);
}

.chatting-page-chat-info__btn-social-media:hover > p {
  opacity: 1;
}

.chatting-page-chat-info__btn-social-media:hover > i {
  color: var(--pink);
}

.chatting-page-chat-info__btn-social-media i {
  font-size: 1rem;
}

/* INFO CATEGORY */
.chat_info .info_category {
  color: var(--gray);
  padding: 0 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.chat_info .info_category i {
  margin-right: 0.5rem;
}

/* DESCRIPTION */

.chatting-page-chat-info__description {
  padding: 0 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  line-height: 1.3;
}

/* MEDIA */
.chatting-page-chat-info__media {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.chatting-page-chat-info__file-media {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  .chatting-page-chat-info__file-media {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
  }

  .chatting-page-chat-info__avatar {
    width: 11rem;
    height: 11rem;
    border-radius: 11rem;
  }

  .chat_info .chat_user {
    height: 300px;
  }

  .chatting-page-chat-info__username {
    font-size: 2.3rem;
  }
}

.chatting-page-chat-info__file-media:hover {
  outline: 2px solid var(--greenLight);
  outline-offset: 5px;
}
