.signup_form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.name_container {
  display: flex;
  gap: 1rem;
}

.bg-red {
  background-color: red;
}

.item1 {
  flex: 1;
}

.item2 {
  flex: 1;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input_wrapper label {
  font-weight: bold;
}

.input_wrapper .text_input {
  width: 100%;
  background-color: #eee;
  border: none;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 0.5rem;
  height: 3rem;
  transition: all 0.2s ease;
  font-size: large;
}

.input_wrapper .text_input:hover,
.text_input:focus {
  box-shadow: 0 0 0 4px pink;
  border: none;
  outline-color: #fda5b3;
  background-color: #fff;
}

.password_label_container {
  display: flex;
  justify-content: space-between;
}

.password_label_container .link {
  text-decoration: none;
}

.check_input {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  accent-color: rgb(235, 93, 171);
  outline: none;
  border: 1px solid #eee;
}

.check_input:focus {
  box-shadow: 0 0 0 3px rgba(255, 192, 203, 0.459);
}

.show_password_container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn_signup {
  background-color: #ea4c89;
  height: 3rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: large;
  border-radius: 0.5rem;
  color: #eee;
  transition: all 0.3s ease;
}

.btn_signup:hover {
  background-color: #f080ab;
}

.btn_signup:focus {
  box-shadow: 0 0 0 4px pink;
}
