.signup_form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.name_container {
  display: flex;
  gap: 1rem;
}

.bg-red {
  background-color: red;
}

.first_name_container {
  flex: 1;
}

.last_name_container {
  flex: 1;
}

.password_label_container {
  display: flex;
  justify-content: space-between;
}

.password_label_container .link {
  text-decoration: none;
}

.check_input {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  accent-color: rgb(235, 93, 171);
  outline: none;
  border: 1px solid #eee;
}

.show_password_container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
