.search_input_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--white_v3);
  border-radius: 0.5rem;
  align-items: center;
  position: relative;
}

.search_input_wrapper i {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 1.5rem;
  color: var(--gray);
  margin-right: 1rem;
}

.search_input_wrapper input {
  border: none;
  font-size: 1rem;
  color: var(--gray_v2);
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 2.7rem;
  padding-right: 1rem;
  background-color: transparent;
  transition: all 0.2s ease;
}

.search_input_wrapper input:focus,
input:hover {
  border-radius: 0.5rem;
  background-color: #fff !important;
}
