.chat-item {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
}

.chat-item__user {
  display: flex;
  gap: 1rem;
}

.chat-item__info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.chat-item__message {
  color: var(--gray_v2);
  font-size: 0.9rem;
}

.chat-item__img-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  object-fit: cover;
}

.chat-item__moment {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: flex-end;
}

.chat-item__time {
  color: var(--gray_v2);
  font-size: 0.9rem;
}

.message_read_indicator {
  color: var(--blue);
  align-self: flex-end;
}
.chat-item__read {
  color: var(--gray);
  align-self: flex-end;
}

.chat-item__balloon {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--green);
  color: var(--white);
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.chat-item__typing {
  color: #34c534;
}
