.chatting-page-sidebar {
  height: 100%;
  padding: 2rem 0rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatting-page-sidebar__avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  object-fit: cover;
  outline: 2px double var(--greenLight);
  outline-offset: 2px;
  cursor: pointer;
}

.chatting-page-sidebar__menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chatting-page-sidebar__menu-button {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: transparent;
  position: relative;
}

.chatting-page-sidebar__menu-button:hover > i {
  color: var(--white) !important;
}

.chatting-page-sidebar__menu-button:hover > .chatting-page-sidebar__tooltip {
  opacity: 1;
}

.chatting-page-sidebar__menu-button i {
  font-size: 1.3rem;
  color: var(--greenLight) !important;
}

.chatting-page-sidebar__tooltip {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: var(--white);
  font-weight: 600;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease;
}

@media screen and (max-width: 1000px) {
  .chatting-page-sidebar {
    flex: 0 0 60px;
  }
  .chatting-page-sidebar__avatar img {
    width: 2rem;
    height: 2rem;
    border-radius: 2.4rem;
  }
  .chatting-page-sidebar__menu-button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
  }
  .chatting-page-sidebar__menu-button:hover {
    background-color: transparent;
  }
  .chatting-page-sidebar__menu-button:hover > .chatting-page-sidebar__tooltip {
    font-size: 0.7rem;
  }
  .chatting-page-sidebar__menu-button i {
    font-size: 1rem;
  }
}
