.room-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.room-header__drawer_btn {
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.room-header__drawer_btn:hover {
  background-color: var(--white_bg);
}

.room-header__drawer_btn i {
  font-size: 1rem;
}

.room-header__user {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.room-header__avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  object-fit: cover;
}

.room-header__user-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.room-header__last-seen {
  color: var(--gray);
}

.room-header__pinned_btn {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: transparent;
}

.room-header__pinned_btn i {
  color: var(--gray);
  font-size: 1.3rem;
}

.room-header__pinned_btn:hover {
  background-color: var(--white);
}

.room-header__pinned_btn:hover > i {
  color: var(--pink) !important;
}

@media screen and (max-width: 1000px) {
  .room-header {
    padding: 0 1rem;
  }
  .room-header__avatar img {
    width: 3.3rem;
    height: 3.3rem;
  }
  .room-header__username {
    font-size: 1rem;
  }
  .room-header__last-seen {
    font-size: 0.9rem;
  }
  .room-header__pinned_btn i {
    font-size: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .room-header__pinned_btn {
    background-color: transparent;
  }
  .room-header {
    gap: 1rem;
    padding: 0 1rem;
  }
  .room-header__drawer_btn {
    display: block;
  }
}
