#signup-page {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.signup-page__main {
  flex: 1;
  display: flex;
  min-height: 100vh;
}

.signup-page__sidebar {
  display: none;
  flex: 1 1 0;
}

@media screen and (min-width: 900px) {
  .signup-page__sidebar {
    display: block;
  }
}

.signup-page__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-page__content {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.signup-page__navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.signup-page__form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-page__form {
  width: 400px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.signup-page__form-title {
  font-weight: 800;
  font-size: x-large;
}

.signup-page__form-divider {
  margin: 1rem 0;
  width: 100%;
  height: 2px;
  background-color: rgb(224, 224, 224);
  position: relative;
}

.signup-page__form-divider p {
  background-color: #fff;
  padding: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(117, 117, 117);
  font-weight: bold;
  font-size: small;
}

.signup-page__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-top: 1px solid rgb(233, 233, 233);
}

.signup-page__footer p span {
  font-weight: bold;
}
