@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --blue: #2196f3;
  --blue_hover: #0069c0;
  --blue_outline: #6ec6ff;
  --white: #fff;
  --pink: #ea4c89;
  --pink_hover: #eb7da7;
  --pink_outline: #eb7da781;
  --white_bg: #f1f1f1;
  --white_v2: #f5f5f5;
  --white_v3: #f0f0f0;
  --white_v4: #fafafa;
  --red: #f44336;
  --black: #292c31;
  --green: #4caf50;
  --greenLight: #80e27e;
  --greenDark: #087f23;
  --green_v2: #5eaa89;
  --gray: #a9abad;
  --gray_v2: #64666a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* TEXT */

p {
  padding: 0;
  margin: 0;
}

/* BUTTON */
button {
  cursor: pointer;
  border: none;
}

button:hover > i {
  color: var(--green) !important;
}

/* INPUT */

input:hover,
input:focus {
  box-shadow: 0 0 0 4px var(--greenLight);
  border: none;
  outline-color: var(--greenLight);
  background-color: #fff;
}

/* BUTTON */
.btn-google {
  align-self: flex-start;
  border-radius: 0.5rem;
  background-color: var(--blue);
  border: none;
  color: #fff;
  cursor: pointer;
  width: 240px;
  height: 50px;
  padding: 0 6px;
  display: flex;
  align-items: center;
  font-size: medium;
  gap: 0.5rem;
}

.btn-google:hover {
  background-color: var(--blue_hover);
}

.btn-google:focus {
  box-shadow: 0 0 0 5px var(--blue_outline);
}

.btn-google__title {
  font-weight: bold;
}

.btn-google__icon {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 0.5rem;
}

.btn-google__icon i {
  display: block;
  color: orange;
  font-size: larger;
}

.btn_primary {
  background-color: var(--green);
  height: 3rem;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: larger;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 0.3s ease;
  padding: 0 2rem;
}

.btn_primary:hover {
  background-color: var(--greenDark);
}

.btn_primary:focus {
  box-shadow: 0 0 0 4px var(--greenLight);
}

/* LINK */
.dom-link {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 15px;
  background-color: #aeaeae;
}
